{# @var \Setono\SyliusCalloutPlugin\Model\CalloutInterface callout #}
<div class="{{ render_callout_class_attribute(callout) }}" style="{{ render_callout_style(callout) }}">{{ render_callout(callout) }}</div>
